---
import Layout from '../layouts/Layout.astro';
import HudNav from '../components/HudNav';
import HudHero from '../components/HudHero';
import HudProjects from '../components/HudProjects';
import HudExperience from '../components/HudExperience';
import MinimalTypoFooter from '../components/MinimalTypoFooter';
import { personalDetails } from '../data/portfolio';

const title = `${personalDetails.name} - Cyber Portfolio`;
const description = personalDetails.summary;
---

<Layout title={title} description={description}>
  <main class="bg-[#050505] min-h-screen text-white selection:bg-accent selection:text-black overflow-x-hidden">
    <HudNav client:load />
    
    <div id="hero">
      <HudHero client:load />
    </div>
    
    <HudOverview client:visible />

    <div id="projects">
      <HudProjects client:visible />
    </div>
    
    <div id="experience">
      <HudExperience client:visible />
    </div>
    
    <div id="secure">
       <MinimalTypoFooter client:visible />
    </div>
  </main>
</Layout>
